/**
 * Form Styles
 */

 .form-input-group-wrapper label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.form-input-group-wrapper > label {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #dcdcdc;
}

.form-input-group {
    margin-bottom: 1em;
}

.form-input-group .label-normal {
    font-weight: normal;
}

.form-input-group {
    display: flex;
    margin: 0 -15px;
    align-items: center;
    overflow: hidden;
    padding: 1em 0;
}
.form-input-group form-input, .form-input-group form-select {
    display: inline-block;
    padding:0 15px;
    margin-right: 1em;
}
.form-input-group form-input:first, .form-input-group form-select:first {
    color: red;
}
.form-input-group-wrapper.flexible form-input, .form-input-group-wrapper.flexible form-select {
    margin: 0;
    flex: 1 1 auto;
    margin: 5px;
}