/**
 * Form Styles
 */
 .form-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-input .label-normal {
    font-weight: normal;
}

.form-input textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    
    padding: 0.25em 0.5em;
    width: 100%;
}
.form-input textarea + p {
    margin: 0;
    text-align: right;
    margin-bottom: 1em;
    color: #777777;
}
/**
 * Errors
 */
form-textarea .error {
    border-color: red;
}

form-textarea .error-message {
    float: left;
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}