/**
 * Form Styles
 */
 .form-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-input .label-normal {
    font-weight: normal;
}

.form-input select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    width: 100%;
}
/**
 * Errors
 */
form-select .error {
    border-color: red;
}

form-select .error-message {
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}