/**
 * Form Styles
 */
.form-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-input .label-normal {
    font-weight: normal;
}

.form-input[data-input-type="radio"] label,
.form-input[data-input-type="checkbox"] label {
    display: inline;
}

.form-input input[type="text"], 
.form-input input[type="password"],
.form-input input[type="date"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    width: 100%;
}
/**
 * Errors
 */
form-input .error {
    border-color: red;
}

form-input .error-message {
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}